<footer class="foot">
    <h3 class="text">
        Connect:-
        </h3>
        <div class="con">
        <img class="connectlogo"  src="insta.png" alt="insta logo">
        <img class="connectlogo" src="github.png" alt="git logo">
        <img class="connectlogo" src="link.png" alt="twiter logo">
        <img class="connectlogo" src="hack.png" alt="facebook logo">
    </div>
     <p class="developer">
         Developed By:- Akshad Nayakwadi
     </p>
</footer>