<footer class="foot">
    <h3 class="text">
        Connect:-
        </h3>
        <div class="con">
            <a href="https://twitter.com/dhanlobhe_yash"><img class="connectlogo"  src="008-twitter.png" alt="twitter logo"></a>
        <a href="https://www.instagram.com/its__yassh/"><img class="connectlogo"  src="insta.png" alt="insta logo"></a>
       
       <a href="https://www.linkedin.com/in/yash-dhanlobhe-681ab5185/"> <img class="connectlogo" src="linkedin.png" alt="twiter logo"></a>
       <a href="https://www.youtube.com/channel/UCmU-70xWRx32DZtZ6pkHKYQ"> <img class="connectlogo" src="youtube.png" alt="facebook logo"></a>
        <a href="https://github.com/billion-yash"><img class="connectlogo" src="github.png" alt="git logo"></a>
    </div>
     <p class="developer">
         Developed By:- Akshad Nayakwadi
     </p>
</footer>