@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.yashphoto{
    height: 40rem;
    margin-left: 60rem;
  
}

.logo{
    width: 5rem;
    height: 2.5rem;
}
.name{
    position: absolute;
    margin-left: 2rem;
   font-size: 3rem;
    margin-top: 10rem;
    color: white;
    z-index: 1;
    font-family: 'Orelega One', cursive;
}
#vantajs {
    position: relative;
    width: auto;
    height: 500px;
    margin-bottom: 10px;
    position: relative;
  }
  .photo{
      position: absolute;
      width: 22rem;
      z-index: 1;
      margin-top: 17rem;
      margin-left: 50rem;
  }
  h1{
    font-family: 'Orelega One', cursive;
  }
  .about{
      margin-top: 10rem;
      text-align: center;
      
  }
  hr{
    border: 4px solid #FF3F81;
  
    width: 15rem;
  }
  .yashinfo{
     
  width:65%;
  margin-left:1%;
  /* text-align: right; */
  float: right;
  font-size: 1.7rem;
  padding: 5%;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 3rem;
  }
  .myphoto{
      width: 16rem;
     
     position: relative;
     margin-left: 7rem;

  }
  .skills-used{
    display:inline-block;
  padding: 1%;


  /* border: 3px solid #23153C ; */
  border-radius: 1rem;
  margin-left: 2rem;
  
  font-size: 2rem;
  color: #FF3F81;
}
.skills-used{
  display:inline-block;
padding: 1%;

text-align: center;
/* border: 3px solid #23153C ; */
border-radius: 1rem;
 margin-left: 12rem;
/* margin-right: 3rem; */
font-size: 2rem;
color: #FF3F81;
}
.skillss{
  display:inline-block;
padding: 1%;


/* border: 3px solid #23153C ; */
border-radius: 1rem;
margin-left: 2rem;
font-size: 1.2rem;
color: #FF3F81;
}
.s{
  background-color: rgb(229,228,226);
}
.skill-title{
  margin-top: 10rem;
  text-align: center;
}

.link{
  font-size: 1.3rem;
  margin-left: 2rem;
}
  /* footer */

  .connectlogo{
    width: 4rem;
    padding: 1% ;
     
  }
  .foot{
      background-color: #23153C ;
    
    }
  .con{
    text-align: center;
    display: block;
  }
  .text{
      color: white;
      font-family: 'Orelega One', cursive;
      text-align: center;
  }
  .developer{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1rem;
    padding-top: 1%;
    margin-bottom: auto;
  }
/* timeline */
#timeline{
    margin-top: 8rem;
    text-align: center;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    
  }
  .time{
    font-family: 'Montserrat', sans-serif;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }


  /* alignment for mobile */
  @media only screen and (max-device-width: 480px) {
    .name{
      font-family:'Courier New', Courier, monospace;
      font-size: 2.5rem;
      margin-left: 1.5rem;
    }
    h1{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .timeline-body > p,
    .timeline-body > ul {
      margin-bottom: 0;
      font-size: 0.8rem;
    }
    .timeline-title {
      margin-top: 0;
      color: inherit;
      font-size: 1.5rem;
    }
    .photo{
        position: absolute;
        width: 13rem;
        z-index: 1;
        margin-top: 25rem;
        margin-left: 8rem;
    }
    /* .about-whole{
      background-color: red;
    } */
    .foot{
        background-color: #23153C ;
        
      }
    .con{
      text-align: center;
      display: block;
    }
    .text{
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    .developer{
      color: white;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 1rem;
      padding-top: 1%;
      margin-bottom: auto;
    }
    .connectlogo{
        width: 2rem;
        padding: 1.5% ;
        margin-left: 1rem;
         
      }
      .yashinfo{
     
        width:20rem;
        margin-left: 0rem;
      padding: -1%;
       text-align:left;
        font-size: 1.5rem;
        line-height: 2rem;
   
        }
        .myphoto{
            width: 13rem;
           position: relative;
           margin-left: 5rem;
      
        }
        .skills-used{
          display:inline-block;
        padding: 1%;
      
      
        /* border: 3px solid #23153C ; */
        border-radius: 1rem;
        margin-left: 3rem;
        font-size: 1rem;
        color: #FF3F81;
      }
        .s{
          padding: 1%;
         background-color: white;
        }
        .link{
          font-size: 1rem;
        }
        .logo{
          width: 4rem;
          height: 2rem;
      }
  
}